* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(30, 30, 36);
    color: #c8c9c1;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#main-header {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 5px #730505 solid;
    background: #09030a;
}

.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.homepage-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: calc(5em - 2vh);
}

.introduction{
    margin-top: calc(5em - 2vh);
}
.introduction .child{
    line-height: 40px;
}
.child {
    animation-duration: 3s;
    animation-iteration-count: initial;
}
.info:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-30px)
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.profile-pic img {
    height: 400px;
    width: 360px;
    border: 2px #f4f4f4 solid;
    border-radius: 2em;
    filter: blur(3px);
    transition: .6s ease-in-out;
}

.profile-pic img:hover {
    filter: blur(0);
}

.info {
    border-radius: 5px;
    border-top-left-radius: 1em;
}

.info h2 {
    font-size: 3em;
}



.navigation {
    display: flex;
    justify-content: center;
    background: #09030a;
    height: 40px;
    border-end-end-radius: 3em;
}
.navigation ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.navigation li {
    list-style: none;
    margin-left: 10px;
}

.navigation a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
}

.socials {
    margin-top: 1em;
}
.socials li {
    font-size: 25px;
    margin-left: 20px;
}

.socials a {
    text-decoration: none;
    color: silver;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.5);
}

.navigation a:hover {
    color: #f05656;
}

.socials a:nth-child(1):hover {
    color: #5a35f0;
}

.socials a:nth-child(2):hover {
    color: red;
}

.socials a:nth-child(3):hover {
    color: yellow;
}